body { font-family: Georgia,"Times New Roman",Times,serif; margin: 0px; }

div.header {display:block;width:100%; text-align:left; 
	border-bottom:1px solid #44639b;
	margin:0;padding:10px 20px; padding-left: 50px}

/* div { padding-left: 20px; } */

div.toc { display:block; border-top: 1px solid #44639b; border-bottom: 1px solid #44639b; background-color: #eee; }

div.citations { display:block; border-top: 1px solid #44639b; background-color: #eee; padding-bottom: 20px; }

/* h1.header { width: 100%; background-color: #1f4c74; margin: 0px; padding: 10px 30px; color: #fff; } */

img.logo { height: 75px; } 
h1 img { height: 75px; } 

table th td {
	border-width: 0.3em 0 9px;
	width: 100%;
}

li > div.analysis { font-size: 14pt; font-weight: bold; border-bottom: 1px solid #44639b; display: block; width: 70%; list-style: none; }

dd.database, dd.method { margin-left: 5px; }

dl.params { margin-left: 5px; }
